Pr√≥ba implementacji metod zastosowanych przez dr. Kontka w artykule 

["**Weryfikacja wyniku drugiej tury wybor√≥w prezydenckich w Polsce w 2025 roku: Przeliczenie g≈Ços√≥w z u≈ºyciem przestrzennie grupowanej metody MAD**"](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5296441)

wraz z komentarzami i wƒÖtpliwo≈õciami

In [1]:
import pandas as pd

from utilities import presidential_data, clustering, methods

### load presidential both rouds - official PKW data

In [2]:
year = "2025"
df_2025_r1 = presidential_data.get_df(year, "1")
df_2025_r2 = presidential_data.get_df(year, "2")

### 2.2. Grupowanie geograficzne

z artyku≈Çu:

W drugim etapie komisje wyborcze zosta≈Çy posortowane wed≈Çug kod√≥w pocztowych, a nastƒôpnie
pogrupowane w kolejne bloki komisji znajdujƒÖcych siƒô w bezpo≈õrednim sƒÖsiedztwie. Grupy tworzono
w taki spos√≥b, aby ‚Äî w miarƒô mo≈ºliwo≈õci ‚Äî ka≈ºda zawiera≈Ça od 10 do 16 komisji, ≈ÇƒÖczƒÖc ze sobƒÖ
sƒÖsiednie obszary kod√≥w pocztowych majƒÖce wsp√≥lny prefiks (np. ‚Äû30‚Äù, ‚Äû301‚Äù, ‚Äû3011‚Äù). Celem by≈Ço
maksymalne zwiƒôkszenie sp√≥jno≈õci przestrzennej przy zachowaniu porƒôcznej wielko≈õci grupy, bez
konieczno≈õci ograniczania jej do jednego kodu pocztowego. Zastosowano nastƒôpujƒÖcƒÖ procedurƒô:

  1. PoczƒÖtkowe grupowanie oparto na pierwszych dw√≥ch cyfrach kodu pocztowego (np. ‚Äû30‚Äù dla
obszaru Krakowa).
  2. Je≈ºeli powsta≈Ça grupa zawiera≈Ça od 10 do 16 komisji, zosta≈Ça zaakceptowana bez zmian.
  3. Grupy liczƒÖce mniej ni≈º 10 komisji od≈Ço≈ºono do p√≥≈∫niejszego ≈ÇƒÖczenia.
  4. Grupy przekraczajƒÖce 16 komisji dzielono rekurencyjnie, dodajƒÖc kolejne cyfry kodu pocztowego (np. z ‚Äû30‚Äù ‚Üí ‚Äû301‚Äù ‚Üí ‚Äû3011‚Äù i dalej, a≈º do pe≈Çnych piƒôciu cyfr).
  5. Pozosta≈Çe ma≈Çe grupy ≈ÇƒÖczono z najbli≈ºszymi sƒÖsiadami majƒÖcymi ten sam prefiks, przy czym priorytetem by≈Ça ciƒÖg≈Ço≈õƒá przestrzenna i zr√≥wnowa≈ºona liczebno≈õƒá grup.
  
W odr√≥≈ºnieniu od wcze≈õniejszego podej≈õcia, kt√≥re dopuszcza≈Ço grupy o wielko≈õci 10‚Äì25 komisji,
niniejsze badanie przyjƒô≈Ço wƒô≈ºszy zakres docelowy: od 10 do 16 komisji na grupƒô. Decyzja ta
wynika≈Ça z przeglƒÖdu empirycznego, kt√≥ry wykaza≈Ç, ≈ºe wiƒôksze grupy ‚Äî mimo wydajno≈õci
statystycznej ‚Äî czasami ≈ÇƒÖczy≈Çy odleg≈Çe geograficznie obszary o niejednorodnych wzorcach
g≈Çosowania.

W wyniku zastosowania nowych ogranicze≈Ñ utworzono 2‚ÄØ208 grup, z kt√≥rych ka≈ºda odzwierciedla≈Ça
wzglƒôdnie jednorodnƒÖ lokalnƒÖ dynamikƒô wyborczƒÖ. Dla potwierdzenia ich sp√≥jno≈õci terytorialnej
przeprowadzono test zgodno≈õci kod√≥w pocztowych w ramach ka≈ºdej grupy.

Wiƒôkszo≈õƒá grup spe≈Çni≈Ça za≈Ço≈ºony docelowy rozmiar: 1‚ÄØ386 grup (62,8%) zawiera≈Ço od 10 do 16
komisji, a 2‚ÄØ017 grup (91,3%) zawiera≈Ço od 6 do 30 komisji. Wiƒôksze grupy zazwyczaj odpowiada≈Çy obszarom miejskim ‚Äî na przyk≈Çad takim jak Toru≈Ñ czy W≈Çoc≈Çawek, gdzie pojedynczy kod pocztowy
obejmowa≈Ç ca≈Çe miasto. W takich przypadkach wiƒôksza liczba komisji nie zaburza≈Ça sp√≥jno≈õci
przestrzennej, a wrƒôcz zwiƒôksza≈Ça wiarygodno≈õƒá statystycznƒÖ poprzez powiƒôkszenie pr√≥bki lokalnej.

Grupy mniejsze ni≈º docelowy zakres obejmowa≈Çy komisje, kt√≥re ‚Äî z powodu izolacji geograficznej
‚Äî nie mog≈Çy zostaƒá sensownie po≈ÇƒÖczone z innymi. Choƒá pr√≥bki mniejsze ni≈º 10 jednostek sƒÖ zwykle
uznawane za majƒÖce ograniczonƒÖ moc statystycznƒÖ, zastosowanie metody MAD ‚Äî znanej ze swojej
odporno≈õci na ma≈Çe pr√≥by ‚Äî w znacznym stopniu niweluje to ograniczenie.

------------

Nie jestem w stanie odtworzyƒá grupowania geograficznego 1:1.

JednƒÖ z opcji jest grupowanie losowe: buckety 10 - 16, dokladnie 2208 grup

In [3]:
df = clustering.add_random_buckets(df_2025_r2, n=2208, k_min=10, k_max=16)

In [4]:
clustering.print_bucket_stats(df)

Total buckets: 2208
Buckets with 10‚Äì16 items: 2208 (100.0%)
Buckets with 6‚Äì30 items: 2208 (100.0%)

DrugƒÖ moje "klastrowanie"

In [5]:
df = clustering.add_janiszewski_postal_buckets(df_2025_r2, min_bucket_size=10, max_bucket_size=16)

In [6]:
clustering.print_bucket_stats(df)

Total buckets: 1809
Buckets with 10‚Äì16 items: 1462 (80.8%)
Buckets with 6‚Äì30 items: 1719 (95.0%)

TrzeciƒÖ klastrowanie Jakuba Bialka

https://github.com/rabitwhte/analiza_kontka_reprodukcja/blob/main/Reprodukcja_wynikow_Kontek_Bialek.ipynb

In [7]:
df = clustering.add_bialek_postal_buckets(df_2025_r2, min_size=10, max_size=16)

In [8]:
clustering.print_bucket_stats(df)

Total buckets: 2367
Buckets with 10‚Äì16 items: 1223 (51.7%)
Buckets with 6‚Äì30 items: 1926 (81.4%)

### IMPLEMENTACJA METOD ZAPROPONOWANYCH PRZEZ DR KONTKA

2.3. Wykrywanie warto≈õci odstajƒÖcych

G≈Ç√≥wna innowacja analityczna niniejszego badania polega na oszacowaniu potencjalnego wp≈Çywu
anormalnych komisji wyborczych na poziomie og√≥lnokrajowym. Aby to osiƒÖgnƒÖƒá, w pierwszej
kolejno≈õci zidentyfikowano warto≈õci odstajƒÖce w czterech kategoriach nieprawid≈Çowo≈õci:

In [9]:
cand_A = "trzaskowski"
cand_B = "nawrocki"

df_2025 = presidential_data.join_both_rounds(cand_A, cand_B, df_2025_r1, df_2025_r2)

In [10]:
# # ok, grupowanie metodƒÖ p. Bia≈Çka
df_2025 = clustering.add_bialek_postal_buckets(df_2025)

### 1. pop_outlier: Nadmierne poparcie dla Karola Nawrockiego (wzglƒôdem mediany w ramach lokalnej grupy)

Za artyku≈Çem: w ramach ka≈ºdej grupy obliczono mediany oraz odchylenia bezwzglƒôdne od mediany (MAD), dla ka≈ºdej komisji obliczono wska≈∫nik odchylenia od mediany

![X minus median over MAD](./../../images/X_minus_median_over_MAD.png)

gdzie:

X - wynik w drugiej turze kandydata

mediana - mediana wynik√≥w kandydata w drugiej turze

MAD - odchelenie bezwzglƒôdne mediany kandydata w drugiej turze

z artykulu:

Dla ka≈ºdej grupy komisji oraz dla dw√≥ch pierwszych kategorii nieprawid≈Çowo≈õci:

  ‚Ä¢ obliczono mediany oraz odchylenia bezwzglƒôdne od mediany (MAD);

  ‚Ä¢ dla ka≈ºdej komisji obliczono tzw. wsp√≥≈Çczynnik odchylenia odpornego (robust deviation score, oznaczony jako k_needed), wyra≈ºajƒÖcy skalƒô odchylenia wyniku od mediany grupy w jednostkach MAD, wed≈Çug wzoru (powyzej)

Komisjƒô oznaczano jako odstajƒÖcƒÖ (outlier), je≈õli spe≈Çniony by≈Ç warunek: ùëòùëõùëíùëíùëëùëíùëë > ùëò gdzie k to
warto≈õƒá progowa przyjƒôta w analizie, szczeg√≥≈Çowo opisana w sekcji 2.4.

In [11]:
print("Liczba komisji: ", len(df_2025)) # bez zagranicy i statk√≥w
df = df_2025.copy()

Liczba komisji:  30553

2.4 Przeliczenie wynik√≥w

Aby uwzglƒôdniƒá niepewno≈õƒá i wra≈ºliwo≈õƒá zastosowanego podej≈õcia, obliczenia przeprowadzono dla
trzech r√≥≈ºnych prog√≥w detekcji warto≈õci odstajƒÖcych: k > 2.0, k > 2.5 oraz k > 3.0, gdzie k oznacza
liczbƒô jednostek odchylenia bezwzglƒôdnego od mediany (MAD) wzglƒôdem mediany w grupie
lokalnej. Wy≈ºsze warto≈õci k wyodrƒôbniajƒÖ jedynie najbardziej skrajne przypadki, zapewniajƒÖc tym
samym konserwatywnƒÖ estymacjƒô potencjalnego wp≈Çywu. Jednocze≈õnie jednak ograniczajƒÖ zdolno≈õƒá
metody do wychwytywania mniejszych, lecz wciƒÖ≈º istotnych odchyle≈Ñ.

In [12]:
df = methods.add_anomaly_1(df, cand_A, cand_B, new_col_name="k_score_1")

In [13]:
methods.check_k_thresholds(df, cand_A, cand_B, "_k_score_1")

k > 2.0
trzaskowski: 4551
nawrocki: 3750
---
k > 2.5
trzaskowski: 3535
nawrocki: 2750
---
k > 3.0
trzaskowski: 2794
nawrocki: 2015
---

Wyniki:

Dla k=2, takich komisji, w kt√≥rych "za du≈ºe" poparcie ma Nawrocki jest 3750, a Trzaskowski 4551.

### 2. growth_outlier: Nadmierny wzglƒôdny wzrost poparcia dla Karola Nawrockiego miƒôdzy pierwszƒÖ a drugƒÖ turƒÖ, w por√≥wnaniu do odpowiedniego wzrostu poparcia dla Rafa≈Ça Trzaskowskiego w tej samej grupie lokalnej;

za, JB: 

Nie podano wprost jak to by≈Ço obliczone wiƒôc kolejno:

  1. Dla danego kandydata obliczam wzglƒôdny wzrost miƒôdzy pierwszƒÖ a drugƒÖ turƒÖ (dzielƒÖc wynik z drugiej przez wynik z pierwszej)
  2. Nastƒôpnie odnoszƒô go do wzrostu drugiego kandydata - liczƒô r√≥≈ºnicƒô miƒôdzy wzglƒôdnymi wzrostami.
  3. Dalej tak jak w pierwszym typie anomalii - dla tych r√≥≈ºnic liczƒô medianƒô grupy, MAD grupy oraz odchylenie k w komisji.

In [14]:
df = methods.add_anomaly_2(df, cand_A, cand_B, new_col_name="k_score_2")

In [15]:
df.head()

,teryt_gmina,polling_station_id,trzaskowski_r1,nawrocki_r1,postal_code,trzaskowski_r2,nawrocki_r2,postal_clean,bucket,trzaskowski_k_score_1,nawrocki_k_score_1,trzaskowski_k_score_2,nawrocki_k_score_2
0,20101,1,361,287,59-700,596,582,59700,1567,1.191686,2.942708,-0.269043,0.269043
1,20101,2,381,228,59-700,517,386,59700,1567,0.826790,0.901042,-0.022318,0.022318
2,20101,3,356,241,59-700,556,437,59700,1567,1.006928,1.432292,0.487976,-0.487976
3,20101,4,390,217,59-700,567,408,59700,1567,1.057737,1.130208,-0.567403,0.567403
4,20101,5,343,202,59-700,518,332,59700,1567,0.831409,0.338542,1.200906,-1.200906

In [16]:
methods.check_k_thresholds(df, cand_A, cand_B, "_k_score_2")

k > 2.0
trzaskowski: 3552
nawrocki: 3127
---
k > 2.5
trzaskowski: 2666
nawrocki: 2229
---
k > 3.0
trzaskowski: 2106
nawrocki: 1669
---

### 3. Komisje, w kt√≥rych Nawrocki uzyska≈Ç wiƒôcej g≈Ços√≥w ni≈º Trzaskowski w drugiej turze, mimo ≈ºe mediana wynik√≥w w grupie wskazywa≈Ça na przewagƒô Trzaskowskiego;

  1. Sprawdzamy, w kt√≥rych grupach dany kandydat mia≈Ç wiƒôkszƒÖ medianƒô
  2. Sumujemy komisje, w kt√≥rych wygra≈Ç kandydat A mimo, ≈ºe wiƒôkszƒÖ medianƒô mia≈Ç kandydat B i na odwr√≥t.

In [17]:
df = methods.add_anomaly_3(df, cand_A, cand_B, new_col_name="flip")

In [18]:
# na korzy≈õƒá kandydat A, czyli wiƒôkszƒÖ medianƒô mia≈Ç B, a wiƒôcej g≈Ços√≥w dosta≈Ç A.
cand_A, sum(df['higher_median_' + cand_B] & (df[cand_A + '_r2'] > df[cand_B + '_r2']))

('trzaskowski', 2608)

In [19]:
cand_B, sum(df['higher_median_' + cand_A] & (df[cand_B + '_r2'] > df[cand_A + '_r2']))

('nawrocki', 1843)

In [20]:
df = df.drop(
    columns=[
        f"higher_median_{cand_A}",
        f"higher_median_{cand_B}",
    ]
)

**WYNIKI**:

W grupach, w kt√≥rych wiƒôkszƒÖ medianƒô mia≈Ç Nawrocki, by≈Ço 2608 komisji, w kt√≥rych wy≈ºszy wynik uzyska≈Ç Trzaskowski.

W grupach, w kt√≥rych wiƒôkszƒÖ medianƒô mia≈Ç Trzaskowski, by≈Ço 1843 komisji, w kt√≥rych wy≈ºszy wyniki uzyska≈Ç Nawrocki.

Przyk≈Çadowo:

W komisji 13 gdzie w drugiej turze g≈Çosowa≈Ço.. 13 os√≥b, Trzaskowski uzyska≈Ç wiƒôkszy wynik (8 do 5), mimo ≈ºe w grupie obejmujƒÖcej kod pocztowy 59-730 wiƒôkszƒÖ medianƒô mia≈Ç Nawrocki (344 vs 158).

**WƒÖtpliwo≈õci w tej metodologii**

Jak pisze Piotr Szulc:

https://danetyka.com/kontek-analiza-bledow/

Jedna z cech, jakie bada autor, jest nazwana ‚Äúflip‚Äù i nie ma nic wsp√≥lnego z wy≈ºej podanƒÖ standaryzacjƒÖ i progami. Autor za anomaliƒô uznaje ka≈ºdy przypadek, w kt√≥rym ‚ÄúNawrocki wygrywa lokalnie, mimo ≈ºe mediana wynik√≥w w grupie wskazuje przewagƒô Trzaskowskiego‚Äù. Za≈Ç√≥≈ºmy, ≈ºe procenty poparcia dla Nawrockiego w danej grupie wynoszƒÖ: 45, 46, 47, 48, 49, 51, 52, 53, 54.

In [21]:
# Dane: 9 komisji ‚Äì Trzaskowski ma wy≈ºszƒÖ medianƒô, ale Nawrocki wygrywa w 4 komisjach
dummy_df = pd.DataFrame({
    'okrƒôg': ['A'] * 9,
    'trzaskowski': [55, 54, 53, 52, 51, 49, 47, 46, 45],
    'nawrocki':    [45, 46, 47, 48, 49, 51, 52, 53, 54],
})

Mediana wynosi 49%, wiƒôc ‚Äúmediana wynik√≥w w grupie wskazuje przewagƒô Trzaskowskiego‚Äù:

In [22]:
# Obliczenie median
trzaskowski_median = dummy_df['trzaskowski'].median()  # 51.0
nawrocki_median = dummy_df['nawrocki'].median()        # 49.0

# ale zeby byƒá sp√≥jnym z poprzedniƒÖ implementacjƒÖ:

# mediana w grupie
dummy_df[cand_A + '_median'] = dummy_df.groupby('okrƒôg')[cand_A].transform('median')
dummy_df[cand_B + '_median'] = dummy_df.groupby('okrƒôg')[cand_B].transform('median')

dummy_df['higher_median_' + cand_A] = (dummy_df[cand_A + '_median'] >  dummy_df[cand_B + '_median']).astype(bool)
dummy_df['higher_median_' + cand_B] = (dummy_df[cand_B + '_median'] >  dummy_df[cand_A + '_median']).astype(bool)

a zatem te cztery komisje, w kt√≥rych Nawrockich otrzyma≈Ç ponad 50% to anomalie, co oczywi≈õcie nie ma ≈ºadnego sensu. Ta cecha jest odpowiedzialna za ponad po≈Çowƒô (!) wskaza≈Ñ.

In [23]:
# na korzy≈õƒá kandydata B, czyli wiƒôkszƒÖ medianƒô mia≈Ç A, a wiƒôcej g≈Ços√≥w dosta≈Ç B.
cand_B, sum(dummy_df['higher_median_' + cand_A] & (dummy_df[cand_B] > dummy_df[cand_A]))

('nawrocki', 4)

In [24]:
# Flip: Nawrocki wygrywa, mimo ≈ºe Trzaskowski mia≈Ç wy≈ºszƒÖ medianƒô w grupie
dummy_df['flip_' + cand_B] = dummy_df['higher_median_' + cand_A] & (dummy_df[cand_B] > dummy_df[cand_A])

# Wy≈õwietlenie flip√≥w
print(dummy_df[[cand_A, cand_B, 'flip_' + cand_B]])
print(f"\nLiczba 'anomalii' wed≈Çug flip: {dummy_df['flip_' + cand_B].sum()} z {len(dummy_df)}")

   trzaskowski  nawrocki  flip_nawrocki
0           55        45          False
1           54        46          False
2           53        47          False
3           52        48          False
4           51        49          False
5           49        51           True
6           47        52           True
7           46        53           True
8           45        54           True

Liczba 'anomalii' wed≈Çug flip: 4 z 9

### 4. Kandydat otrzyma≈Ç mniej g≈Ços√≥w w drugiej turze ni≈º w pierwszej

In [25]:
cand_A, sum(df[cand_A + '_r2']<df[cand_A + '_r1'])

('trzaskowski', 128)

W 128 komisjach Trzaskowski uzyska≈Ç mniej g≈Ços√≥w w drugiej turze ni≈º w pierwszej.

In [26]:
cand_B, sum(df[cand_B + '_r2']<df[cand_B + '_r1'])

('nawrocki', 112)

W 112 komisjach Nawrocki uzyska≈Ç mniej g≈Ços√≥w w drugiej turze ni≈º w pierwszej.


Przyk≈Çadowe anomalie na korzy≈õƒá Trzaskowskiego:

In [27]:
df[df[cand_B + '_r2'] < df[cand_B + '_r1']].sort_values(by=cand_B + '_r1', ascending=False).head()

,teryt_gmina,polling_station_id,trzaskowski_r1,nawrocki_r1,postal_code,trzaskowski_r2,nawrocki_r2,postal_clean,bucket,trzaskowski_k_score_1,nawrocki_k_score_1,trzaskowski_k_score_2,nawrocki_k_score_2,trzaskowski_flip,nawrocki_flip
12616,140706,1,105,285,26-910,467,193,26910,630,8.588235,-0.767123,10.044104,-10.044104,True,False
25866,261207,4,143,224,28-200,360,209,28200,662,2.443299,-1.491228,7.799246,-7.799246,True,False
5098,60903,4,89,174,23-100,260,163,23100,522,5.850746,-0.595588,5.824589,-5.824589,True,False
24825,260101,34,172,129,28-100,148,111,28100,657,-0.185567,-1.758333,-0.128350,0.128350,True,False
2372,40102,9,120,105,87-720,164,85,87720,2197,-0.204545,-1.139860,10.348880,-10.348880,True,False

In [28]:
# Anomalie na korzysc
df[cand_A + '_more_votes'] = df[cand_B + '_r2']<df[cand_B + '_r1']
df[cand_B + '_more_votes'] = df[cand_A + '_r2']<df[cand_A + '_r1']

To sƒÖ rzeczywi≈õcie bardzo podejrzane przypadki i o takich przypadkach powinni≈õmy alarmowaƒá w pierwszej kolejno≈õci. Po pierwsze, ju na etapie wprowadzania do systemu, a po drugie do ewentualnej kontroli i ponownego liczenia glos√≥w

## Wyniki

3.1. Identyfikacja komisji wyborczych z anomaliami

Z zastosowaniem konserwatywnej metody detekcji warto≈õci odstajƒÖcych opartej na odchyleniu bezwzglƒôdnym od mediany (MAD) z progiem k > 3.0, zidentyfikowano 3 679 komisji wyborczych na poziomie obwodowym jako statystyczne anomalie. Stanowi to 11,6% wszystkich krajowych komisji wyborczych (z wy≈ÇƒÖczeniem zagranicznych i dyplomatycznych), kt√≥rych wyniki znaczƒÖco odbiega≈Çy od wynik√≥w sƒÖsiednich komisji z tej samej lokalizacji geograficznej.
Przy nieco mniej rygorystycznym progu k > 2.0, liczba anormalnych komisji wzros≈Ça do 5 453, co odpowiada 17,2% wszystkich komisji krajowych.


Analiza ujawni≈Ça tak≈ºe znaczne nagromadzenie przypadk√≥w, w kt√≥rych w jednej komisji wystƒôpowa≈Çy wiele typ√≥w anomalii jednocze≈õnie. W szczeg√≥lno≈õci:

* 1 482 komisje wykazywa≈Çy co najmniej dwa typy anomalii,
* 216 komisji ‚Äî co najmniej trzy typy,
* 33 komisje ‚Äî wszystkie cztery typy anomalii.

In [29]:
# w zale≈ºno≈õci od wielko≈õci k
k = 2

# deduplikacja, czyli jak wystƒÖpi≈Ça wiƒôcej niz jedna anomalia, to liczymy takƒÖ komisjƒô raz

### Na korzy≈õƒá Nawrockiego

In [30]:
cand = "nawrocki"
opponent = "trzaskowski"
outliers_df = methods.generate_candidate_outliers(df, cand, opponent, k)

### Liczba wystƒôpujƒÖcych anomalii. Czyli w ilu komisjach wystƒÖpi≈Ça np. anomalia "pop outlier"

In [31]:
bool_cols = ["pop_outlier", "growth_outlier", "flip", "more_votes"]
print(outliers_df[bool_cols].sum())

pop_outlier       3750
growth_outlier    3127
flip              1843
more_votes         128
dtype: int64

### Liczba komisji, w kt√≥rych wystƒÖpi≈Ço minimum N anomalii, czyli minimum 1 (8108) albo wszystkie cztery anomalie (2)

In [32]:
true_counts = outliers_df[bool_cols].sum(axis=1)

# Convert to plain ints
count_distribution = {
    ">=1": int((true_counts >= 1).sum()),
    ">=2": int((true_counts >= 2).sum()),
    ">=3": int((true_counts >= 3).sum()),
    ">=4": int((true_counts >= 4).sum())
}

# Print row by row
for key, value in count_distribution.items():
    print(f"{key}: {value}")

>=1: 8108
>=2: 695
>=3: 43
>=4: 2

### Pr√≥ba odwzorowania tabelki z wynikami

In [33]:
# suma g≈Ços√≥w. je≈ºeli w komisji wystƒôpuje wiƒôcej ni≈º jedna anomalia, sumuj jej g≈Çosy tylko raz
outliers_df["anomalies"] = outliers_df.apply(methods.assign_top_anomaly, axis=1)

### Dodanie "brakujƒÖcych g≈Ços√≥w"

G≈Çosy Nawrocki po / G≈Çosy Trzaskowski po: ≈ÅƒÖczne liczby g≈Ços√≥w po korekcie medianowej ‚Äî czyli takie, jakie by≈Çyby, gdyby udzia≈Ç Nawrockiego odpowiada≈Ç medianie w lokalnej grupie; g≈Çosy Trzaskowskiego dostosowano proporcjonalnie, przy zachowaniu ≈ÇƒÖcznej liczby wa≈ºnych g≈Ços√≥w w komisji.

In [34]:
outliers_df[cand + "_median_r2"] = outliers_df.groupby("bucket")[cand + "_r2"].transform("median")
outliers_df[opponent + "_median_r2"] = outliers_df.groupby("bucket")[opponent + "_r2"].transform("median")

In [35]:
outliers_df = methods.add_median_corrected_votes(outliers_df, cand, opponent)

In [36]:
summary_df = methods.summarize_by_anomaly(outliers_df, cand, opponent)
summary_df

,flaga,liczba,g≈Çosy nawrocki,g≈Çosy trzaskowski,r√≥≈ºnica przed,g≈Çosy nawrocki po,g≈Çosy trzaskowski po,r√≥≈ºnica po,zmiana
0,pop_outlier,3361,1851882,1537507,314375,1945077,1444312,500765,186390
1,growth_outlier,2814,752168,964366,-212198,831603,884931,-53328,158870
2,flip,1805,458674,369237,89437,377446,450465,-73019,-162456
3,more_votes,128,7028,3441,3587,5557,4912,645,-2942
4,≈ÇƒÖcznie,8108,3069752,2874551,195201,3159683,2784620,375063,179862

![kontek tabela 1 wyniki k=2](./../../images/kontek_tabela_wyniki_k2.png)

### Na korzy≈õƒá Trzaskowskiego

In [37]:
cand = "trzaskowski"
opponent = "nawrocki"
k = 2
outliers_df = methods.generate_candidate_outliers(df, cand, opponent, k)

### Liczba wystƒôpujƒÖcych anomalii. Czyli w ilu komisjach wystƒÖpi≈Ça np. anomalia "pop outlier"

In [38]:
bool_cols = ["pop_outlier", "growth_outlier", "flip", "more_votes"]
print(outliers_df[bool_cols].sum())

pop_outlier       4551
growth_outlier    3552
flip              2608
more_votes         112
dtype: int64

### Liczba komisji, w kt√≥rych wystƒÖpi≈Ço minimum N anomalii, czyli minimum 1 (9487) albo wszystkie cztery anomalie (3)

In [39]:
true_counts = outliers_df[bool_cols].sum(axis=1)

# Convert to plain ints
count_distribution = {
    ">=1": int((true_counts >= 1).sum()),
    ">=2": int((true_counts >= 2).sum()),
    ">=3": int((true_counts >= 3).sum()),
    ">=4": int((true_counts >= 4).sum())
}

# Print row by row
for key, value in count_distribution.items():
    print(f"{key}: {value}")

>=1: 9487
>=2: 1288
>=3: 45
>=4: 3

In [40]:
outliers_df["anomalies"] = outliers_df.apply(methods.assign_top_anomaly, axis=1)

In [41]:
outliers_df[cand + "_median_r2"] = outliers_df.groupby("bucket")[cand + "_r2"].transform("median")
outliers_df[opponent + "_median_r2"] = outliers_df.groupby("bucket")[opponent + "_r2"].transform("median")

In [42]:
outliers_df = methods.add_median_corrected_votes(outliers_df, cand, opponent)

In [43]:
summary_df = methods.summarize_by_anomaly(outliers_df, cand, opponent)
summary_df

,flaga,liczba,g≈Çosy trzaskowski,g≈Çosy nawrocki,r√≥≈ºnica przed,g≈Çosy trzaskowski po,g≈Çosy nawrocki po,r√≥≈ºnica po,zmiana
0,pop_outlier,3495,1736016,1792115,-56099,1496470,2031661,-535191,-479092
1,growth_outlier,3303,539123,820984,-281861,593358,766749,-173391,108470
2,flip,2577,981128,785595,195533,778082,988641,-210559,-406092
3,more_votes,112,3528,2277,1251,2586,3219,-633,-1884
4,≈ÇƒÖcznie,9487,3259795,3400971,-141176,2870496,3790270,-919774,-778598

### PONOWNIE POLICZONE G≈ÅOSY


https://polskieradio24.pl/artykul/3543223,jakie-sa-wyniki-w-komisjach-w-ktorych-ponownie-przeliczono-glosy-sprawdzilismy

In [44]:
df_vote_recount = presidential_data.load_data("2025", "2")
df_vote_recount = presidential_data.process_df(df_vote_recount, "2025", final_cols=["Gmina", "Wojew√≥dztwo", "Siedziba"])

In [45]:
# Example: values from recount
target_nawrocki = 1132
target_trzaskowski = 540

# Find records that match these values exactly
matching_stations = df_vote_recount[
    (df_vote_recount["nawrocki"] == target_nawrocki) &
    (df_vote_recount["trzaskowski"] == target_trzaskowski)
]

print("Matching polling stations after recount:")
print(matching_stations.T)

Matching polling stations after recount:
                                                                11610
valid_votes                                                    1672.0
eligible_voters                                                1980.0
teryt_gmina                                                  126101.0
ballots_cast                                                   1684.0
polling_station_id                                                 95
nawrocki                                                       1132.0
trzaskowski                                                     540.0
postal_code                                                    31-346
Gmina                                                       m. Krak√≥w
Wojew√≥dztwo                                               ma≈Çopolskie
Siedziba            Zesp√≥≈Ç Szkolno-Przedszkolny Nr 14, ul. Stawowa...

In [46]:
# --- Step 1: Create the recount dataset with both old and new values ---
recounts = [
    {"polling_station_id": 95,  "valid_votes": 1672, "old_nawrocki": 1132, "old_trzaskowski": 540,  "new_nawrocki": 540,  "new_trzaskowski": 1132},
    {"polling_station_id": 3,   "valid_votes": 1015, "old_nawrocki": 637,  "old_trzaskowski": 378,  "new_nawrocki": 377,  "new_trzaskowski": 638},
    {"polling_station_id": 13,  "valid_votes": 974,  "old_nawrocki": 611,  "old_trzaskowski": 363,  "new_nawrocki": 364,  "new_trzaskowski": 611},
    {"polling_station_id": 9,   "valid_votes": 639,  "old_nawrocki": 416,  "old_trzaskowski": 223,  "new_nawrocki": 223,  "new_trzaskowski": 416},
    {"polling_station_id": 25,  "valid_votes": 828,  "old_nawrocki": 504,  "old_trzaskowski": 324,  "new_nawrocki": 324,  "new_trzaskowski": 504},
    {"polling_station_id": 17,  "valid_votes": 931,  "old_nawrocki": 585,  "old_trzaskowski": 346,  "new_nawrocki": 344,  "new_trzaskowski": 585},
    {"polling_station_id": 30,  "valid_votes": 959,  "old_nawrocki": 610,  "old_trzaskowski": 349,  "new_nawrocki": 450,  "new_trzaskowski": 509},
    {"polling_station_id": 61,  "valid_votes": 1819, "old_nawrocki": 1048, "old_trzaskowski": 771,  "new_nawrocki": 771,  "new_trzaskowski": 1049},
    {"polling_station_id": 10,  "valid_votes": 330,  "old_nawrocki": 217,  "old_trzaskowski": 113,  "new_nawrocki": 317,  "new_trzaskowski": 363},
    {"polling_station_id": 53,  "valid_votes": 1458, "old_nawrocki": 628,  "old_trzaskowski": 830,  "new_nawrocki": 627,  "new_trzaskowski": 828},
    {"polling_station_id": 35,  "valid_votes": 928,  "old_nawrocki": 581,  "old_trzaskowski": 347,  "new_nawrocki": 347,  "new_trzaskowski": 581},
    {"polling_station_id": 6,   "valid_votes": 706,  "old_nawrocki": 368,  "old_trzaskowski": 338,  "new_nawrocki": 278,  "new_trzaskowski": 428},
    {"polling_station_id": 4,   "valid_votes": 797,  "old_nawrocki": 466,  "old_trzaskowski": 331,  "new_nawrocki": 331,  "new_trzaskowski": 466},
    {"polling_station_id": 4,   "valid_votes": 569,  "old_nawrocki": 209,  "old_trzaskowski": 360,  "new_nawrocki": 360,  "new_trzaskowski": 209},  # Stasz√≥w
    {"polling_station_id": 1,   "valid_votes": 660,  "old_nawrocki": 193,  "old_trzaskowski": 467,  "new_nawrocki": 468,  "new_trzaskowski": 192},  # Magnuszew
    {"polling_station_id": 113, "valid_votes": 1910, "old_nawrocki": 136,  "old_trzaskowski": 1774, "new_nawrocki": 296,  "new_trzaskowski": 1611},
    {"polling_station_id": 20,  "valid_votes": 1225, "old_nawrocki": 543,  "old_trzaskowski": 682,  "new_nawrocki": 542,  "new_trzaskowski": 683},
]

recount_df = pd.DataFrame(recounts)

# --- Step 2: Merge on 4 fields for exact match ---
df_affected_polling_stations = df_vote_recount.merge(
    recount_df,
    how="inner",
    left_on=["polling_station_id", "valid_votes", "nawrocki", "trzaskowski"],
    right_on=["polling_station_id", "valid_votes", "old_nawrocki", "old_trzaskowski"]
)

# --- Step 3: Output ---
# print("‚úÖ Matches with recount corrections:")
df_affected_polling_stations[["teryt_gmina", "polling_station_id", "valid_votes", "nawrocki", "new_nawrocki",
               "trzaskowski", "new_trzaskowski"]].head(17)

,teryt_gmina,polling_station_id,valid_votes,nawrocki,new_nawrocki,trzaskowski,new_trzaskowski
0,20701.0,6,706.0,368.0,278,338.0,428
1,41804.0,4,797.0,466.0,331,331.0,466
2,46201.0,25,828.0,504.0,324,324.0,504
3,121611.0,10,330.0,217.0,317,113.0,363
4,126101.0,95,1672.0,1132.0,540,540.0,1132
5,140706.0,1,660.0,193.0,468,467.0,192
6,141201.0,13,974.0,611.0,364,363.0,611
7,146505.0,113,1910.0,136.0,296,1774.0,1611
8,160803.0,3,1015.0,637.0,377,378.0,638
9,161105.0,9,639.0,416.0,223,223.0,416
10,226101.0,17,931.0,585.0,344,346.0,585
11,246101.0,30,959.0,610.0,450,349.0,509
12,246101.0,61,1819.0,1048.0,771,771.0,1049
13,246901.0,53,1458.0,628.0,627,830.0,828
14,247701.0,35,928.0,581.0,347,347.0,581
15,247801.0,20,1225.0,543.0,542,682.0,683
16,261207.0,4,569.0,209.0,360,360.0,209

In [47]:
# Podsumowanie weryfikacji wynik√≥w wybor√≥w 17 komisji

len(df_affected_polling_stations)

17

### Przep≈Çywy poparcia

Late Poll od Ipsos 
https://tvn24.pl/polska/wyniki-wyborow-prezydenckich-2025-jak-glosowali-polacy-interaktywne-grafiki-i-wykresy-st8486765


https://x.com/Jakub_Kubajek/status/1937434102312886412


https://colab.research.google.com/drive/1agO77d5cpwlEpMAzVwwT0xXQkmMinMyJ#scrollTo=rV1zoohwi7Xz

In [48]:
vote_flow_kn = {
    'BARTOSZEWICZ Artur': 0.696,
    'BIEJAT Magdalena Agnieszka': 0.117,
    'BRAUN Grzegorz Micha≈Ç': 0.926,
    'HO≈ÅOWNIA Szymon Franciszek': 0.146,
    'JAKUBIAK Marek': 0.895,
    'MACIAK Maciej': 0.707,
    'MENTZEN S≈Çawomir Jerzy': 0.872,
    'NAWROCKI Karol Tadeusz': 0.993,
    'SENYSZYN Joanna': 0.193,
    'STANOWSKI Krzysztof Jakub': 0.521,
    'TRZASKOWSKI Rafa≈Ç Kazimierz': 0.012,
    'WOCH Marek Marian': 0.538,
    'ZANDBERG Adrian Tadeusz': 0.165
}
new_votes_kn = 0.486

In [49]:
new_votes_rt = 0.514

vote_flow_rt = {key: 1 - value for key, value in vote_flow_kn.items()}

In [50]:
vote_flow_rt

{'BARTOSZEWICZ Artur': 0.30400000000000005,
 'BIEJAT Magdalena Agnieszka': 0.883,
 'BRAUN Grzegorz Micha≈Ç': 0.07399999999999995,
 'HO≈ÅOWNIA Szymon Franciszek': 0.854,
 'JAKUBIAK Marek': 0.10499999999999998,
 'MACIAK Maciej': 0.29300000000000004,
 'MENTZEN S≈Çawomir Jerzy': 0.128,
 'NAWROCKI Karol Tadeusz': 0.007000000000000006,
 'SENYSZYN Joanna': 0.8069999999999999,
 'STANOWSKI Krzysztof Jakub': 0.479,
 'TRZASKOWSKI Rafa≈Ç Kazimierz': 0.988,
 'WOCH Marek Marian': 0.46199999999999997,
 'ZANDBERG Adrian Tadeusz': 0.835}