In [7]:
import pandas as pd

from utilities import load_data, get_df, process_df

### Load all data - 2015, 2020 and 2025, both rounds

In [8]:
year = "2025"
df_2025_r1 = get_df(year, "1")
df_2025_r2 = get_df(year, "2")

year = "2020"
df_2020_r1 = get_df(year, "1")
df_2020_r2 = get_df(year, "2")

year = "2015"
ext = "xls"
df_2015_r1 = get_df(year, "1", ext)


df_2015_r2 = load_data(year, "2", ext)
df_2015_r2 = df_2015_r2.rename(columns={
    "Teryt Gminy": "teryt_gmina",
    "Numer obwodu": "polling_station_id"
})

# In 2015 round 2 data there is no postal code, so we need to join it to round 1
df_2015_r2 = df_2015_r2.merge(
    df_2015_r1[["teryt_gmina", "polling_station_id", "postal_code"]],
    on=["teryt_gmina", "polling_station_id"],
    how="left"
)
df_2015_r2 = process_df(df_2015_r2, year)

In [17]:
def print_votes_sum(df, candidate_column):
    total = int(df[candidate_column].sum())
    formatted = f"{total:,}".replace(",", " ")
    print(f"Suma głosów dla {candidate_column}: {formatted}")

### Check if data same as on page

https://wybory.gov.pl/prezydent2025/pl/2/wynik/pl?initscroll=800

#### 2025, round 1
* TRZASKOWSKI 6 147 797	

* NAWROCKI 5 790 804

In [18]:
print_votes_sum(df_2025_r1, 'trzaskowski')
print_votes_sum(df_2025_r1, 'nawrocki')

Suma głosów dla trzaskowski: 6 147 743
Suma głosów dla nawrocki: 5 790 762

In [23]:
print("różnica trzaskowski: ", 6147797-6147743)
print("różnica nawrocki: ", 5790762-5790804)

różnica trzaskowski:  54
różnica nawrocki:  -42



#### 2025, round 2
* NAWROCKI 10 606 877	

* TRZASKOWSKI 10 237 286

In [21]:
print_votes_sum(df_2025_r2, 'nawrocki')
print_votes_sum(df_2025_r2, 'trzaskowski')

Suma głosów dla nawrocki: 10 606 628
Suma głosów dla trzaskowski: 10 237 177

In [24]:
print("różnica nawrocki: ", 10606877-10606628)
print("różnica trzaskowski: ", 10237286-10237177)

różnica nawrocki:  249
różnica trzaskowski:  109

In [3]:
# Check if correct data
df_2025_r1.head()

,valid_votes,teryt_gmina,eligible_voters,polling_station_id,ballots_cast,bartoszewicz,biejat,braun,hołownia,jakubiak,maciak,mentzen,nawrocki,senyszyn,stanowski,trzaskowski,woch,zandberg,postal_code
0,1059.0,20101.0,1640.0,1,1063.0,2.0,32.0,66.0,50.0,6.0,2.0,200.0,287.0,10.0,10.0,361.0,1.0,32.0,59-700
1,880.0,20101.0,1293.0,2,882.0,6.0,29.0,37.0,29.0,5.0,2.0,113.0,228.0,9.0,13.0,381.0,1.0,27.0,59-700
2,922.0,20101.0,1364.0,3,927.0,1.0,28.0,61.0,51.0,4.0,1.0,123.0,241.0,9.0,7.0,356.0,1.0,39.0,59-700
3,916.0,20101.0,1378.0,4,919.0,5.0,28.0,40.0,47.0,3.0,1.0,119.0,217.0,13.0,18.0,390.0,2.0,33.0,59-700
4,813.0,20101.0,1214.0,5,819.0,6.0,31.0,47.0,39.0,2.0,4.0,87.0,202.0,12.0,10.0,343.0,1.0,29.0,59-700